In [9]:
QUESTION 1

S = "SHUBHAM SHAH"
type(S)

str

In [5]:
l = [8,2,3,4,52,55,"shubham",7672.873298]
type(l)

list

In [6]:
x = 72984.87387
type(x)

float

In [7]:
a = (5,7,9,)
type(a)

tuple

QUESTION 2

var1 = ''

This contain string data type which contain single cot.

var2 = '[DS , ML ,PYTHON,]'

This is list data type which contain strings under the square brackets.

var3 = ['DS , 'ML' , 'PYTHON']

This contain list data type which contain single cot under the square bracket.

var4 = 1

This contain integer data type.

QUESTION 3 

(i)  / = this is divison operator ex - x/y

(ii) % = this is modulas operator ex x%y

(iii) // = this is flour divison operator 

(iv) ** = this is exponention operator

QUESTION 4

In [16]:
l = [ 2,3,565.765,"SHUBHAM",67,89,4*3,(5,8,9), 4+5, 9-4,]
for i in l :
    print(i)
for i in l :
    print(type(i))

2
3
565.765
SHUBHAM
67
89
12
(5, 8, 9)
9
5
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'int'>
<class 'int'>

QUESTION 5 - usig a while loop ,verify if the number A is purely divisible by number B and if so then how many times it can be divisible .

ANSWER - using the while loop when we divide number A with number B which is purely divisible then it divide infinity times beacuse we know that using a while loop they continuous doing divide further our operation is not failed.
we takeing an example A = 4 and B = 2 when we divide 4 with 2 using while loop they divding at the infinity times.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [ ]:
for i in l :
    if i/l
    print(i)
else :
    print("if yhe element is divisible by 3 or not")

QUESTION 7 

ANSWER -

 * MUTABLE = mutable is a data type in which we can modify and change single or specific data type which present in the list.

 * IMUTABLE = imutable is a data type in which we can't cahnge or modify an specific data or any containing letter.
 
 example are Given below -

Q = "shubham"

this is the example of imutable data type which cant't change an specific letter or and data.

In [ ]:
P = [6.54,47474,"shubham","sita",] 

this is the example of mutable data we can change any specific data conatin any data type.

In [5]:
P[1]

47474

In [6]:
P[1] = "SITASHUBHAM"

In [7]:
P

[6.54, 'SITASHUBHAM', 'shubham', 'sita']

Here we can se that we change an specific data which is present in the list .





                                                      
                                                        
                                                        
                                                        T